<table class="table sortable">
    <thead>
    <tr>
        <th>Action</th>
       

        <th>Courier</th>
        <th>Destination</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>
</thead>
    
    <% data.forEach((element)=>{ %>
       <tr class="item">
        <th class="table-cell">
            <div>
                <button  id='delete' onClick="handleDeleteClick(<%=element.id %>)"   class=" button is-small is-danger visible ">delete</button> 
            </div>
        </th>

         <th><%= element.name %> </th>
        <th><%= element.destination_name %> </th>
        <th><%= element.start_time %> </th>
        <th><%= element.end_time %> </th>
         </tr>
        <% }); %>

</table>