<h1 class="title">Create new task</h1>


      <form class="form" action="/tasks/new" method="POST">
        <div>
        <div class="form-row">

        <label class="label" for="name">Task name:</label>
        <input class='input' value="<%=data.name %>" name="name" id="name" placeholder="Enter name"/>
</div>
<div class="form-row">

        <label class="label" for="courier_id">Select courier:</label>
        <div class="select">
        <select  value="<%=data.courier_id %>" name="courier_id" id="name" placeholder="Enter name">
            <% couriers.forEach((courier)=>{ %>
             <option value=<%=courier.id %>><%= courier.name %> </option>
             <% }); %>
          </select>
        </div>
</div>
<div class="form-row">

        <label class="label" for="destination_id">Select destiantion:</label>
        <div class="select">

        <select value="<%=data.destiantion_id %>" name="destination_id" id="name" placeholder="Enter name">
          <% destinations.forEach((destination)=>{ %>
            <option value=<%=destination.id %>><%= destination.destination_name %> </option>
            <% }); %>
        </select>
        </div>
       </div>
       <div class="form-row">

        <label class="label" for="start_time">Start time:</label>
        <input class="input" value="<%=data.start_time %>" type='date' name="start_time" id="start_time" placeholder="Enter start time"/>
       </div>
       <div class="form-row">

        <label class="label" for="end_time">End time:</label>
        <input  class='input' value="<%=data.end_time %>" type="date" name="end_time" id="end_time" placeholder="Enter end time"/>
</div>
</div>

<button class="button is-primary">Create Task</button>
<% if(typeof (alerts) != 'undefined') {%> 

  <% alerts.forEach((alert)=>{ %>
    <h2 ><%= alert %> </h2>
    <% });} %>

      </form>
    